// set up a simple neutral simulation
initialize() {
	initializeMutationRate(5e-8);
	
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeMutationType("m2", 0.5, "e", -0.001);
	initializeMutationType("m3", 0.5, "e", 0.001);
	
	initializeMutationType("m4", 0.5, "f", 0.0);
	initializeMutationType("m5", 0.5, "e", -0.01);
	initializeMutationType("m6", 0.5, "e", 0.001);
	
	m2.convertToSubstitution = F;
	m3.convertToSubstitution = F;
	
	m5.convertToSubstitution = F;
	m6.convertToSubstitution = F;
	
	initializeGenomicElementType("g1", c(m1,m2,m3), c(10.0,1.0,0.01));
	initializeGenomicElementType("g2", c(m4,m5,m6), c(10.0,1.0,0.01));
	
	initializeGenomicElement(g1, 0, 49999);
	initializeGenomicElement(g2, 50000, 99999);
	rates = c(1e-8,0.5,0);
	ends = c(49999,50000,99999);
	initializeRecombinationRate(rates, ends);
}

// create a population of 1000 individuals
1 early() {
	sim.addSubpop("p1", 500);
}

modifyChild() {
	mito = c( child.genome1.mutationsOfType(m4),
				 child.genome1.mutationsOfType(m5),
				 child.genome1.mutationsOfType(m6));
	gen2 = c( child.genome2.mutationsOfType(m4),
				 child.genome2.mutationsOfType(m5),
				 child.genome2.mutationsOfType(m6));
	child.genome2.removeMutations(gen2);
	child.genome2.addMutations(mito);
	return T;
}

mutationEffect(m2) {
	scale = individual.genome1.countOfMutationsOfType(m5)+
			  individual.genome1.countOfMutationsOfType(m6);
	return effect^(scale);
}

mutationEffect(m3) {
	scale = individual.genome1.countOfMutationsOfType(m5)+
			  individual.genome1.countOfMutationsOfType(m6);
	return effect^(scale);
}

early() {
	meanFitness = mean(p1.cachedFitness(NULL));
	p1.setSubpopulationSize(asInteger(500*meanFitness));
}

// output samples of 10 genomes periodically, all fixed mutations at end
1000 late() { p1.outputSample(10); }
2000 late() { p1.outputSample(10); }
2000 late() { sim.outputFixedMutations(); }
